In [128]:
import numpy as np
import pandas as pd
import sklearn

In [129]:
## load the dataset
df = pd.read_csv(r'C:\Users\shiva\OneDrive\Documents\ML Project\notebook\stud.csv', encoding='latin')

In [130]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [131]:
for col in df.columns:
    print(f"Column {col} and values: {df[col].unique()}")

Column gender and values: ['female' 'male']
Column race_ethnicity and values: ['group B' 'group C' 'group A' 'group D' 'group E']
Column parental_level_of_education and values: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Column lunch and values: ['standard' 'free/reduced']
Column test_preparation_course and values: ['none' 'completed']
Column math_score and values: [ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]
Column reading_score and values: [ 72  90  95  57  78  83  43  64  60  54  52  81  53  75  89  32  42  58
  69  73  71  74  70  65  87  56  61  84  55  44  41  85  59  17  39  80
  37  63  51  49  26  68  45  47  86  34  79  66  67  91 100  76  77  82
  92  93  62  88  50  28  48  46  23  38  94  97  99  31  96  24  29  40]
Column writing_score and values: [ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23]

In [132]:
# divide the dataset into independent and dependent features
X = df.drop("math_score", axis=1)
y = df['math_score']

In [133]:
X

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,99,95
996,male,group C,high school,free/reduced,none,55,55
997,female,group C,high school,free/reduced,completed,71,65
998,female,group D,some college,standard,completed,78,77
999,female,group D,some college,free/reduced,none,86,86

In [134]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

In [135]:
encoder = OneHotEncoder()
standard_scaler = StandardScaler()

In [136]:
numeric_features = [col for col in X.columns if X[col].dtype != 'O']
cat_features = [col for col in X.columns if X[col].dtype == 'O']

In [137]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

print(num_features)

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

Index(['reading_score', 'writing_score'], dtype='object')

In [138]:
X = preprocessor.fit_transform(X)

In [139]:
X.shape

(1000, 19)

In [140]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [141]:
## divide the dataset into training and testing dataset
from sklearn.model_selection import train_test_split

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0)

In [143]:
X_train.shape

(670, 19)

In [144]:
X_train

array([[ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206,  0.78653904],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.62831968, -0.59612627],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
        -0.76537273, -0.59612627],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
        -1.24505838, -0.8594911 ],
       [ 0.        ,  1.        ,  0.        , ...,  1.        ,
        -0.21716055, -0.39860266],
       [ 0.        ,  1.        ,  0.        , ...,  0.        ,
        -0.21716055, -0.00355543]], shape=(670, 19))

In [145]:
# loading the models
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, adjusted_rand_score

In [146]:
models = {
    "Linear Regressor": LinearRegression(),
    "Ridge Regressor": Ridge(),
    "Lasso Regressor": Lasso(),
    "K-Neighbours Regressor": KNeighborsRegressor(),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "Ada Boost Regressor": AdaBoostRegressor(),
}

In [147]:
list(models)

['Linear Regressor',
 'Ridge Regressor',
 'Lasso Regressor',
 'K-Neighbours Regressor',
 'Decision Tree Regressor',
 'Random Forest Regressor',
 'Ada Boost Regressor']

In [148]:
def evaluate(true, pred):
    mse = mean_squared_error(true, pred)
    mae = mean_absolute_error(true, pred)
    rmse = np.sqrt(mean_squared_error(true, pred))
    score = r2_score(true, pred)
    adjusted_score = adjusted_rand_score(true, pred)
    return mse, mae, rmse, score, adjusted_score

In [149]:
for i in range(len(models)):
    model = list(models.values())[i]
    model.fit(X_train, y_train)
    
    train_pred = model.predict(X_train)
    test_pred = model.predict(X_test)
    
    train_mse, train_mae, train_rmse, train_r2_score, train_adjusted_score = evaluate(y_train, train_pred)
    test_mse, test_mae, test_rmse, test_r2_score, test_adjusted_score = evaluate(y_test, test_pred)
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(train_mae))
    print("- R2 Score: {:.4f}".format(train_r2_score))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(test_mae))
    print("- R2 Score: {:.4f}".format(test_r2_score))
    # r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Model performance for Training set
- Root Mean Squared Error: 5.2706
- Mean Absolute Error: 4.2352
- R2 Score: 0.8844
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4958
- Mean Absolute Error: 4.3267
- R2 Score: 0.8548
===================================


Model performance for Training set
- Root Mean Squared Error: 5.2709
- Mean Absolute Error: 4.2353
- R2 Score: 0.8844
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.4908
- Mean Absolute Error: 4.3165
- R2 Score: 0.8550
===================================


Model performance for Training set
- Root Mean Squared Error: 6.5929
- Mean Absolute Error: 5.2376
- R2 Score: 0.8192
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.5607
- Mean Absolute Error: 5.1127
- R2 Score: 0.7930
===================================

c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)

Model performance for Training set
- Root Mean Squared Error: 5.8265
- Mean Absolute Error: 4.6594
- R2 Score: 0.8588
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.0860
- Mean Absolute Error: 5.6448
- R2 Score: 0.7585
===================================


Model performance for Training set
- Root Mean Squared Error: 0.0546
- Mean Absolute Error: 0.0030
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.2317
- Mean Absolute Error: 6.4758
- R2 Score: 0.6742
===================================


Model performance for Training set
- Root Mean Squared Error: 2.3034
- Mean Absolute Error: 1.8450
- R2 Score: 0.9779
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.8972
- Mean Absolute Error: 4.7148
- R2 Score: 0.8328
===================================


Model performance for Training set
- Root Mean Squared Error: 5.8878
- Mean Absolute Error: 4.8274
- R2 Score: 0.8558
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.3350
- Mean Absolute Error: 5.0187
- R2 Score: 0.8070
===================================

c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)
c:\Users\shiva\OneDrive\Documents\ML Project\venv\Lib\site-packages\sklearn\metrics\cluster\_supervised.py:58: UserWarning: Clustering metrics expects discrete values but received multiclass values for label, and continuous values for target
  warnings.warn(msg, UserWarning)